@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

@import "button.scss";

body {
    margin: 0;
    padding: 0;
   
}

.header {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     
   
    
    &_nav {
        display: flex;
        justify-content: center;
        align-items: center;

      ol {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 10px;
        padding: 0;

      a {
        text-decoration: none;
        color: black;

        li {

        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 20px;
        border-bottom: 3px solid #D2483D; 
        
        }
      }

      }
    }
}

#header{
    margin-bottom: 40px;
}

.information {

    &_title {
        text-align: center;
        
        h1 {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
        }
    }

    &_text {
        text-align: center;
        width: 211px;
        margin: auto;
       
        p {
            span {
                color: #D2483D;
            }
        }
    }

    &_button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        
        a {
            @include buttonprimary();
        }
    }

    &_logo {
        width: 400px;
        height: 400px;
        margin: auto;
        display: flex;
        justify-content: center;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.adresse {

    width: auto;
    height: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    

    &_title {
       
        p {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        border-bottom: 3px solid #D2483D; 

        }
    }
}

#adresse {
    margin-top: 20px;
}



.section-container {

    margin-top: 50px;
}

.cards {

    article {
        margin-bottom: 50px;
    }
    
    &_img {
        width: 256px;
        height: 180px;
        margin: auto;
        

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &_title {
        width: 256px;
        height: 20px;
        margin: auto;
        display: flex;
        justify-content: flex-start;

        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 16px;
            padding-top: 0;
            margin: 0;
        }
    }

    &_text1 {
        width: 256px;
        height: 20px;
        margin: auto;
        display: flex;
        justify-content: flex-start;
       

        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 16px;
            margin: 0;
        }
    }

    &_text2 {
        width: 256px;
        height: 20px;
        margin: auto;
        display: flex;
        justify-content: flex-start;

        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 16px;
            margin: 0;
        }
    }
}

.redhighlight {
    width: 100%;
    height: 184px;
    background-color: #D2483D;
    

    &_text {

        p {
            text-align: center;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 16px;
            padding-top: 50px;
        }
    }

    &_button {

        display: flex;
        justify-content: center;
        padding-top: 10px;

        a {
            @include buttonprimary();
        }
    }
}

.expertise {

    &_title {
        width: 200px;
        height: 30px;
        display: flex;
        justify-content: center;
        margin: auto;

        p {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }
    }

    &_text {
        width: 256px;
        height: 303px;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;

        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 16px;
            padding-top: 30px;
            text-align: center;
        }
    }
}


.image {

    img {
        display: flex;
        width: 252px;
        height: 252px;
        justify-content: center;
        margin: auto;
        margin-bottom: 30px;
    }
}

.contact {

    &_title {
        width: 106px;
        height: 24px;
        display: flex;
        justify-content: center;
        margin: auto;

        p {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }
    }

    &_text {
        width: 242px;
        height: 141px;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 20px;

        p {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 16px;
        }
        span {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            color: #D2483D;
            font-size: 16px;
           }
    }
}

.footer {
    width: 100%;
    height: 182px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    &_icon {

        .icon{
            color: white;
            width: 36px;
            height: 36px;  
        }
    }
}

//PAGE-MENU

.white {
    background-color: white;
    width: 310px;
    height: 586px;
    margin: auto;
}

.menu-container {

    background-color: #F3F3F3;
}

.menu {

    

    &_title {
        display: flex;
        width: auto;
        margin: auto;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
        }
    }

    &_lists {

        .logo {

            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
        }
    }
}

